<div class="main">
	<div class="wrapper">
  <div class="login-wrap">
	  <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Reset Link</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up" style="display: none;"><label for="tab-2" class="tab">Reset OTP</label>
		  <div class="login-form">
			  <div class="sign-in-htm">
			  <form [formGroup]="resetForm" (submit)= "onResetSubmit()">
                <mat-form-field class="group ff">
                    <mat-label>Email</mat-label>
                    <!--<input id="user" type="text" class="input" formControlName="username">-->
                    <input matInput type="email" formControlName="resetEmail">
                    <mat-hint>Enter Your Email</mat-hint>
                    <mat-error *ngIf="resetEmail.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>					
                    <mat-error *ngIf="resetEmail.hasError('email')">
                        Email is <strong>Invalid</strong>
                    </mat-error>
                </mat-form-field>
                <div class="group">
                    <button type="submit" style="outline: none;" class="px-auto" mat-raised-button color="primary">Send Reset Password Link</button>
                </div>
			  </form>
			  </div>			  
		  </div>
	  </div>
  </div>
  </div>
  </div>