<div class="footer navbar-nav navbar-dark bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <h5 class="font-weight-bold mt-3 mb-4">ChatWiz</h5>
                <p> Need Help? Contact us any time. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 offset-md-2 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Support</h5>
                <ul class="list-unstyled">
                  <li class="nav-item">
                    <a class="nav-link hoverable" href="#">Troubleshooting</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link hoverable"  href="#">Common Questions</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link hoverable"  href="#">Report a Bug</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link hoverable"  href="#">Get Help</a>
                  </li>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 offset-md-2 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Company</h5>
                <ul class="list-unstyled">
                  <li>
                    <a class="nav-link hoverable"  href="#">Blog</a>
                  </li>
                  <li>
                    <a class="nav-link hoverable"  href="#">Contact Us</a>
                  </li>
                  <li>
                    <a class="nav-link hoverable"  href="#">About</a>
                  </li>
                  <li>
                    <a class="nav-link hoverable"  href="#">Developers</a>
                  </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1">Register for free</h5>
        </li>
        <li class="list-inline-item">
          <a [routerLink]="['/register']" routerLinkActive="active" class="btn btn-danger btn-rounded">Sign up!</a>
        </li>
    </ul>
    <hr>
    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a class="mx-2 underlineHover">
            <i class="fab fa-facebook-f"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="mx-2 underlineHover">
            <i class="fab fa-twitter"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="mx-2 underlineHover">
            <i class="fab fa-google-plus-g"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="mx-2 underlineHover">
            <i class="fab fa-linkedin-in"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="mx-2 underlineHover">
            <i class="fab fa-dribbble"> </i>
          </a>
        </li>
    </ul>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#" class="nav-link hoverable"> ChatWiz</a>
    </div>
</div>